.git
.github
.venv
.myenv
.env
__pycache__
*.pyc
*.py[codz]
reports/
cache/
.cache
node_modules/
*.egg-info
dist/
build/
.mypy_cache
.pytest_cache
.ruff_cache
*.vsix
.DS_Store
.vscode
.cursorignore
.cursorindexingignore
.cursorrules
.aider*
.manulai
